<% include ./partials/header %>

<form id="register" method="POST" action="/upload">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="image" placeholder="Image Url" />
  <input class="btn" type="submit" value="CREATE" />
</form>
<% include ./partials/footer%>
