<% include ./partials/header %>

<form id="register" method="POST" action="/login">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input  class="btn" type="submit" value="LOGIN">
</form>
<% include ./partials/footer%>