<% include ./partials/header %>

<form id="register" method="POST" action="/register">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input  class="btn" type="submit" value="RESISTER">
</form>
<% include ./partials/footer%>